CAL_API_KEY=
SCHEDULE_NAME="PST Spotty This Week"
SCHEDULE_TIME_ZONE="America/Los_Angeles"
SCHEDULE_ID=
DEFAULT_AVAILABILITY_ID=
EVENT_TITLE="Tom x OpenWork"
EVENT_SLUG="tom-x-openwork"
EVENT_LENGTH=30
LOCATION_TYPE="integrations:daily"
