ELEVEN_LABS_API=sk_xxx_replace_me
ELEVEN_LABS_API_BASE=https://api.elevenlabs.io
ELEVEN_LABS_OUTPUT_FORMAT=mp3_44100_128

ELEVEN_LABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVEN_LABS_HOST_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVEN_LABS_GUEST_VOICE_ID=Aw4FAjKCGjjNkVhN1Xmq

ELEVEN_LABS_TTS_MODEL_ID=eleven_multilingual_v2
ELEVEN_LABS_DIALOGUE_MODEL_ID=eleven_v3
